<div layout="row" layout-padding>
  <div flex="25">
    <user-list></user-list>
  </div>
  <div flex="75">
    <h2>Configuration</h2>
    <div layout="row">
      <md-card flex>
        <md-card-content>
          <md-button ui-sref="rt.config-team">CS BCA</md-button>
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-content>
          <md-button ui-sref="rt.config-team">Social Media BCA</md-button>
        </md-card-content>
      </md-card>

      <md-card flex>
        <md-card-content align="center">
          <md-button ui-sref="rt.config-team"><i class="fa fa-plus fa-2x"></i></md-button>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>