<div layout="column" layout-padding class="config-team" flex>
  <h2>Configuration > Socmed BCA</h2>

  <div flex class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Set KPI">
        <div>
          <ds-tm-kpi-form></ds-tm-kpi-form>
        </div>
      </md-tab>

      <md-tab label="Account Informations">
        <div layout="row">
          <div flex="25">
            <md-button ng-click="addAccount()">
              <i class="fa fa-plus"></i>
              New Account
            </md-button>
            <md-list>
              <div ng-repeat="account in accounts() | filter: search">
                <md-list-item class="md-3-line socmed" ng-class="{ socmed__selected: selected.id === account.id }" ng-click="showAuthor()">
                  <img ng-src="http://placehold.it/50x50" class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{ account.username }}</h3>
                    <h4>{{ account.source }}</h4>
                  </div>
                </md-list-item>
              </div>
            </md-list>
          </div>

          <div flex="75" ng-show="isAuthorShown">
            <ds-tm-socmed-authors></ds-tm-socmed-authors>
          </div>
        </div>
      </md-tab>
      
      <md-tab label="Users">
        <div layout="row" layout-align="space-around start">
          <user-list flex="25"></user-list>
          <user-detail></user-detail>
        </div>
      </md-tab>
    </md-tabs>
  </div>
</div>
