<div layout="column" layout-padding class="config-team">
  <h2 flex>Configuration > Socmed BCA</h2>

  <md-content flex class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Set KPI">
        <md-content class="md-padding">
          <ds-tm-kpi-form></ds-tm-kpi-form>
        </md-content>
      </md-tab>
      <md-tab label="Account Informations">
        <md-content class="md-padding">
          ds-tm-socmed-list
        </md-content>
      </md-tab>
      <md-tab label="Users">
        <md-content class="md-padding">
          ds-tm-user-list-search
          ds-tm-user-detail
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
