<div layout="column" align="center" layout-align="center">
  <div layout="column" align="center">
    <h1 style="margin-bottom: 0;">Your Social Media Management</h1>
    <h3 style="margin-top: 0;">Manage multiple social media accounts in one place, collaboratively</h3>
  </div>
  <div layout="column">
    <h2>Login</h2>
    <div layout="row" layout-align="center">
      <md-button class="md-raised md-primary" ng-click="login()">Facebook</md-button>
      <md-button class="md-raised md-primary" ng-click="login()">Twitter</md-button>
      <md-button class="md-raised md-primary" ng-click="login()">Email</md-button>
    </div>
  </div>
</div>