<!--<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#!" class="brand-logo">Real Time</a>
  </div>
</nav>-->

<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="home-btn md-icon-button" aria-label="Settings">
      <i class="material-icons">menu</i>
    </md-button>
    <h2>
      <span>ombaQ</span>
    </h2>
  </div>
</md-toolbar>


<div id="main-container" class="container">
  <div class="section" ui-view></div>
</div>
