<div layout="column">

  <div layout="row">

    <div>
      <md-input-container>
        <label>Add Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
    </div>

    <div layout="column" style="margin-left: 24px;">
      <div layout="row" ng-repeat="userAccount in user.accounts track by $index">

        <md-select placeholder="Assigned Accounts" ng-model="userAccount.id" style="padding-bottom: 8px; padding-right: 16px;">
          <md-option ng-repeat="account in accounts()" value="{{ account.id }}">{{ account.username }}</md-option>
        </md-select>

        <md-select placeholder="Choose Role" ng-model="userAccount.role" style="padding-bottom: 8px;">
          <md-option value="admin">Admin</md-option>
          <md-option value="member">Member</md-option>
        </md-select>

        <md-button class="md-warn" ng-click="deleteAccount($index)"><strong>X</strong></md-button>

      </div>

      <div style="margin-top: 16px;">
        <md-button class="md-primary" ng-click="addAccount()">Add More Account</md-button>
      </div>  

    </div>

  </div>

</div>