<div layout="column" style="border: 1px solid #ddd;" layout-fill>

  <md-toolbar>

    <div class="md-toolbar-tools">
      <h3>
        <span><i class="fa fa-search"></i></span>
      </h3>
      <md-input-container id="search-toolbar" style="margin-left: 8px; padding-bottom: 0px;" md-no-float>
        <input ng-model="search.username" type="text" placeholder="Search Users">
      </md-input-container>
    </div>

  </md-toolbar>

  <md-content>

    <md-list>
      <md-list-item class="md-3-line" ng-repeat="user in users | filter: search">
        <md-button class="md-list-item-text" ng-click="userClick($event)">
          <h3>{{ user.username }}</h3>
          <h4>
            <i class="fa" ng-class="{ 'fa-facebook-square': user.account.source === 'Facebook', 'fa-twitter-square': user.account.source === 'Twitter' }"></i>
            {{ user.account.username + ' • ' + toProperCase(user.account.role) }}
          </h4>
          <md-divider inset></md-divider>
        </md-button>
      </md-list-item>
    </md-list>

  </md-content>

  <md-toolbar>

    <div class="md-toolbar-tools">
      <span style="font-size: 14px;">{{ users.length }} Total Users | {{ users.length }} Active Now</span>
    </div>

  </md-toolbar>

</div>
